.skills-container {
    background-color: #3d4653;
    opacity: 0.8;
    width: calc(100% - 52px);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 26px;

    .skills-grid {
        height: 80%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 18%);
        grid-row-gap: 20px;
        justify-content: center;
    }
}