.skills-container {
    background-color: #3d4653;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .skills-grid {
        height: 80%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        .skill {
            text-align: center;
            height: 20px;
        }
    }
}