nav {
    display: flex;
    justify-content: space-between;
    height: 150px;

    .navbar-portrait-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-image {
        height: 100%;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .navbar-name {
        display: inline;
        vertical-align: middle;
    }
}