html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    width: calc(100% - 36px);
    margin-left: 18px;

    .navbar-open {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-links {
        display: flex;
        align-items: center;
        justify-content: center;

        .navbar-link {
            margin-left: 18px;
            text-decoration: none;
            color: black;
        }
    }
}