html {
    scroll-behavior: smooth;
}

nav {
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    width: calc(100% - 36px);
    margin-left: 18px;

    .navbar-open {
        display: flex;
        align-items: center;
        justify-content: center;

        .navbar-button {
            cursor: pointer;
            transition: transform 0.4s ease-in-out;
        }

        .open {
            transform: rotate(180deg);
        }
    }

    .navbar-links {
        display: none;
        align-items: center;
        justify-content: center;

        .navbar-link {
            margin-left: 18px;
            text-decoration: none;
            color: antiquewhite;
        }
    }

    .navbar-links.open {
        display: flex;
    }
}