.projects-container {
    background-color: rgb(12, 17, 23, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects-grid {
        height: 90%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1.5fr);
        gap: 30px;

        .BOOKI { grid-area: 1 / 1 / 3 / 3; }
        .SophieBluel { grid-area: 1 / 3 / 3 / 5; }
        .KASA { grid-area: 1 / 5 / 3 / 7; }
        .MonvieuxGrimoire { grid-area: 3 / 1 / 6 / 4; }
        .PassionsFrance { grid-area: 3 / 4 / 6 / 7; }
    }
}

@media screen and (max-width: 700px) {
    .projects-container {
        height: auto;
    }
    .projects-grid {
        display: flex !important;
        flex-direction: column;
        height: auto;
        margin-top: 34px;
    }
}

