body {
  min-width: 370px;
  background-color: #3d4653;
  background-image: url("../public/images/landing-banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: antiquewhite;
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
