.projects-grid article {
    background-color: #22303b;
    box-shadow: 0 10px 40px -10px #fff;
    position: relative;

    .project-text {
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: rgb(34, 48, 59, 0.8);
        width: 100%;

        .project-descLong {
            display: none;
        }
    }

    .project-text:hover {
        height: 100%;

        .project-desc {
            display: none;
        }

        .project-descLong {
            display: inline;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: bottom;
        z-index: 0;
    }
}

